<div class="navigation">
  <ul>
    <li>Yelp</li>
    <li>Add Business</li>
    <li>Sign Up</li>
    <li>Log In</li>
  </ul>
</div>

<h1>McDonalds</h1>

<p>McDonalds is a fast food restaurant serving billions of hamburgers per year.</p>
<ul>
  <li>Name: McDonalds</li>
  <li>Telephone</li>
</ul>

<a class="button">Add a Review</a>
<h3>Reviews</h3>
<ul>
  <li>This place is atrocious. The meat isn't real. Save yourself. - <a>Daniel</a></li>
  <li>Love Mickey D's!</li>
</ul>
